* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}

body {
  background: #f5f7fb;
  color: #111;
}

.layout {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  color: #2563eb;
  margin-bottom: 30px;
}

.sidebar nav a {
  display: block;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

.sidebar nav a.active,
.sidebar nav a:hover {
  background: #2563eb;
  color: white;
}

.logout {
  margin-top: auto;
  color: #555;
  cursor: pointer;
}

/* Main */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  background: #ffffff;
  padding: 14px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eef0f4;
}

.brand {
  color: #2563eb;
  font-size: 22px;
  font-weight: 600;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 18px;
}
/* 
.icon {
  font-size: 18px;
  cursor: pointer;
  color: #555;
} */

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 36px;
  height: 36px;
  background: #e0ecff;
  color: #2563eb;
  font-weight: 600;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user small {
  display: block;
  font-size: 12px;
  color: #777;
}

/* Content */
.content {
  padding: 25px;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .primary-btn {
  background: #f97316;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
} */

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 25px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 14px;
}

.card-title {
  color: #666;
  font-size: 14px;
}

/* Table */
.table-box {
  background: #fff;
  margin-top: 30px;
  border-radius: 14px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  text-align: left;
  padding: 14px;
  border-bottom: 1px solid #eee;
}

.badge {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.employee {
  background: #e0ecff;
  color: #2563eb;
}

.manager {
  background: #f3e8ff;
  color: #9333ea;
}

.action {
  color: #2563eb;
  cursor: pointer;
}


.sidebar nav a.active {
  background: #2563eb;
  color: white;
  font-weight: 500;
}

/* logo of profile img */

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.logo-text {
  font-size: 22px;
  font-weight: 600;
  color: #2563eb; /* same blue */
}


